{% from "./sliced-string.html" import slicedString %}

<input id="burger-menu" type="checkbox" />
<label for="burger-menu" class="shadow">
  <div class="wrapper">
    <span></span>
    <span></span>
    <span></span>
  </div>
</label>

<div class="sidebar-panel fixed pin-t pin-l pin-b w-64 bg-grey-lighter font-sans pt-8 pr-4 pb-4 pl-4">
  <div class="sidebar-panel__content">
    {% if asyncapi.info().ext('x-logo') %}
      <img src="{{ asyncapi.info().ext('x-logo') }}" alt="{{ asyncapi.info().title() }} logo">
    {% else %}
      <h1 class="text-2xl font-thin">
        {{ asyncapi.info().title() }} {{ asyncapi.info().version() }}
      </h1>
    {% endif %}
    <ul class="text-sm mt-10 list-reset mt-2">
      <li class="mb-3">
        <a class="js-menu-item text-grey-darkest no-underline" href="#introduction">Introduction</a>
      </li>
      {% if asyncapi.servers %}
        <li class="mb-3">
          <a class="js-menu-item text-grey-darkest no-underline" href="#servers">Servers</a>
        </li>
      {% endif %}
    </ul>

    {% if asyncapi.hasChannels() %}
      <h2 class="text-xs uppercase text-grey mt-10 mb-4 font-thin">RPCs</h2>
      <ul class="text-sm list-reset mt-2">
        {% include "./operations/by_tags.html" %}
      </ul>
    {% endif %}
  </div>
</div>
